<div class="App mat-typography mat-app-background">
    <mat-toolbar color="primary" class="App__toolbar mat-elevation-z6">
        <nav class="App__navbar">
            <div>FCC is Forked</div>
            <div class="flex-spacer"></div>
            <a mat-icon-button class="docs-button docs-navbar-show-small" routerLink="" aria-label="Home" matTooltip="Go to the Home Page">
                <mat-icon>home</mat-icon>
            </a>
            <a mat-icon-button class="docs-button docs-navbar-show-small" routerLink="map" aria-label="Map" matTooltip="Go to the Challenges Map">
                <mat-icon>map</mat-icon>
            </a>
            <button mat-icon-button [mat-menu-trigger-for]="themeMenu" matTooltip="Select a theme!" tabindex="-1">
                <mat-icon>format_color_fill</mat-icon>
            </button>
        </nav>
    </mat-toolbar>
    <div class="App__content">
        <router-outlet></router-outlet>
    </div>
</div>



<mat-menu #themeMenu="matMenu" x-position="before">
    <button mat-menu-item (click)="onSetTheme('default-light')">Default Theme</button>
    <button mat-menu-item (click)="onSetTheme('amber-dark')">Amber/Lime - Dark</button>
</mat-menu>