<div class="Home">
  <header class="Home__header mat-background-primary mat-color-primary-contrast">
    <div>
      <div>
          <h1 class="mat-h1">A fork of freeCodeCamp</h1>
          <p>The intent of this fork is to provide an interface to the freeCodeCamp curriculum that:</p>
          <ul>
            <li>allows you to pick from a variety of both light and dark themes</li>
            <li>allows you to pick from a variety of both light and dark editor themes</li>
            <li>allows you to login with Github instead of giving out your email for passwordless authentication</li>
            <li>ensures your privacy by performing zero analytics on your activities on the site</li>
            <li>does not popup a donate window over and over and over</li>
          </ul>
      </div>
    </div>
  </header>
  <main class="Home__content">
    <section>
        <h2>Why you might want to use this version</h2>
        <ul>
          <li>you want wider variety of theme options</li>
          <li>you dislike passwordless authentication</li>
          <li>you are sick of the "donate" popup</li>
          <li>you want greater control of the lesson layout</li>
        </ul>
    </section>
    <section>
        <h2>Why you might NOT want to use this version</h2>
        <ul>
          <li>you want the "official" freeCodeCamp certifications</li>
          <li>you want to contribute to the original, rather than a fork</li>
          <li>you really like the UI that's currently available to you on freeCodeCamp</li>
        </ul>
    </section>
  </main>
</div>